<div class="row">
  <div class="col-sm-8">
    <h2 class="text-center">History</h2>
    <div>
      <input class="monthpicker form-control" value="<%= params[:month] || @date.strftime("%m-%Y") %>" style="width: 100px;"></input>
    </div><br/>
    <%= render "timesheets", timesheets: @timesheets %>
  </div>
</div>

