<h2 class="text-center">Checkin</h2>
<h4 class="text-center"><%= Date.today %></h4>
<p>
  Every new day is a new opportunity. Good Morning
</p>
<%= link_to "Checkin", timesheets_path, class: "btn btn-primary", style: "width: 100%", method: :post %>