// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.width300 {
  width: 300px;
  margin: auto;
}

.width400 {
  width: 400px;
  margin: auto;
}