.login-form {
  width: 300px;
  margin: auto;
  .logo {
    width: 100px;
    margin: auto;
    display: block;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  form {
    .remember-me {
      margin-bottom: 8px;
    }

    .login-btn {
      width: 100%;
    }
  }
}

.flash{
  color:red;
  margin: 0 0 10px 0;
}
